.profile {
  max-width: calc(1280px - 70px * 2);
  padding: 74px 70px;
  margin: 0 auto;
  width: 410px;

  @media screen and (max-width: 1023px) {
    padding-top: 236px;
  }

  @media screen and (max-width: 767px) {
    padding: 70px 30px;
    width: calc(100% - 30px * 2);
  }

  &__title {
    margin: 0;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
  }

  &__info {
    margin-top: 108px;
    margin-bottom: calc(204px - 13px);
    width: 100%;
    border-collapse: collapse;
    font-size: 11px;
    line-height: 13px;

    @media screen and (max-width: 1023px) {
      margin-top: 80px;
      margin-bottom: 194px;
    }

    @media screen and (max-width: 767px) {
      margin-top: 64px;
      margin-bottom: 364px;
    }
  }

  &__fieldset {
    border: none;
    position: relative;
    margin: 0;
    padding: 0;
  }

  &__label {
    padding-top: 5px;
    text-align: start;
    font-weight: 500;
    position: absolute;
  }

  &__input {
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding-top: 5px;
    padding-bottom: 16px;
    padding-left: 30%;
    text-align: end;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid #E8E8E8;

    &:focus {
      outline: none;
      border-bottom: 1px solid #3456F3;
    }

    &_last {
      border-color: transparent;
    }
  }

  &__input-error {
    display: block;
    color: #EE3465;
    min-height: 13px;
    text-align: end;
  }

  &__error-tool-tip {
    display: block;
    text-align: center;
    min-height: 17px;
    font-size: 11px;
    line-height: 13px;
    // color: #EE3465;
    color: #3456F3;

    &_success {
      color: #3456F3;
    }
  }

  &__actions {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__button {
    padding: 0;
    border: none;
    background-color: transparent;
    color: #000;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    cursor: pointer;

    &:hover {
      opacity: .8;
    }

    &:active {
      opacity: .6;
    }

    &:disabled {
      cursor: default;
      opacity: .6;
    }

    @media screen and (max-width: 767px) {
      font-size: 12px;
      line-height: 15px;
    }

    &_type_edit {
      font-weight: 400;
    }

    &_type_logout {
      font-weight: 500;
      color:#EE3465;
    }
  }
}