.page {
  background-color: #FAFAFA;
  position: relative;
}

.app {
  font-family: "Inter", sans-serif;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.logo {
  width: 38px;
  height: 38px;
  fill: #3456F3;
}