.burger {
  display: none;
  justify-content: center;
  margin-right: 8px;

  @media screen and (max-width: 1023px) {
    display: flex;
  }

  &__button {
    background-color: transparent;
    display: none;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    cursor: pointer;

    @media screen and (max-width: 1023px) {
      display: flex;
    }
  }

  &__line {
    content: '';

    &::before {
      content: '';
      top: 10px;

      @media screen and (max-width: 767px) {
        top: 9px
      }
    }

    &::after {
      content: '';
      top: -10px;

      @media screen and (max-width: 767px) {
        top: -9px
      }
    }
  }

  &__line, &__line::before, &__line::after {
    @media screen and (max-width: 1023px) {
      display: block;
      position: absolute;
      width: 28px;
      height: 3px;
      background-color: #000;
      transition: all .5s cubic-bezier(.25,.75,.25,.75);

      @media screen and (max-width: 767px) {
        width: 22px;
      }
    }
  }

  &__switcher {
    opacity: 0;
  }

  @media screen and (max-width: 1023px) {
    &__switcher:checked ~ &__button > &__line {
      transform: rotate(360deg);
      background-color: transparent;
      height: 20px;
      border-radius: 50%;
    }

    &__switcher:checked ~ &__button > &__line::after {
      top: 9px;
      transform: rotate(315deg);
    }

    &__switcher:checked ~ &__button > &__line::before {
      top: 9px;
      transform: rotate(405deg);
    }
  }
}