.footer {
  margin: 0 auto;
  background-color: #F8F8F8;

  &__content {
    max-width: calc(1280px - 70px * 2);
    padding: 79px 70px 20px;
    margin: 0 auto;

    @media screen and (max-width: 1023px) {
      padding-left: 30px;
      padding-right: 30px;
    }
  }

  &__top {
    text-align: center;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #A0A0A0;
    margin: 0;
    padding-bottom: 20px;
    border-bottom: 1px solid #E8E8E8;
  }

  &__bottom {
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }

  &__copyright {
    margin: 0;
  }

  &__links-list {
    display: flex;
    gap: 20px;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  &__link {
    text-decoration: none;
    color: inherit;
    transition: opacity .2s linear;

    &:hover {
      opacity: .7;
    }

    &:active {
      opacity: .5;
    }
  }
}